<div class="custom-jumbotron jumbotron jumbotron-fluid bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="/assets/img/MP_Logo_s.jpg" alt="Logo MP - Margarete Post" class="img-fluid rounded">
            </div>
            <div class="col-md-9 col-sm-12">
                <h1 class="display-4 text-light">
                    MP - Margarete Post <br>
                    <small>Mehrwert für Pflege</small>
                </h1>
            </div>
        </div>
    </div>
</div>
